content/
content.tmp/
client/
client.tmp/
node_modules/
packages/
bin/
obj/
*.sublime-workspace

# Compiled Object files
*.suo
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
