state.json
content/
content.tmp/
app/
app.tmp/
packages/
logs/
*.log
*.sublime-workspace
*.csproj.user

# Compiled Object files
*.suo
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store