node_modules
ampm-state.json
content/
content.tmp/
packages/
logs/
*.log
*.sublime-workspace
*.csproj.user

# Compiled Object files
*.suo
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store
ampm-restart.json
/samples/Unity3D/Source/Library
Binaries
Intermediate
Saved
MyProject.VC.db
MyProject.VC.db
