<!DOCTYPE html>
<html>
<head>
    <title>ampm</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/libs/jquery.js"></script>
    <script src="/static/libs/underscore.js"></script>
    <script src="/static/libs/backbone.js"></script>
    <script src="/static/libs/moment.js"></script>
    <script src="/static/view.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {
        view = new View({el:document.body});
    });

    </script>
</head>
<body>
    <button id="update">update</button>
</body>
</html>
