<!DOCTYPE html>
<html>

<head>
    <title>ampm</title>
    <link rel="stylesheet" type="text/css" href="ampm.css" />
</head>

<body>

    <div class="logo">
        <a href="https://github.com/stimulant/ampm">
            <img src="ampm.png" alt="ampm" />
        </a>
    </div>
    <div class="function">
        <div class="functionHead">Application Management</div>
        <div class="section">
            <div class="sectionContent">
                <div class="sectionHead">1.</div>
                <div class="sectionLinks">stuff</div>
            </div>
        </div>
        <div class="section">
            <div class="sectionContent">
                <div class="sectionHead">2.</div>
                <div class="sectionLinks">stuff</div>
            </div>
        </div>
        <div class="section">
            <div class="sectionContent">
                <div class="sectionHead">3.</div>
                <div class="sectionLinks">stuff</div>
            </div>
        </div>
        <div class="section">
            <div class="sectionContent">
                <div class="sectionHead">4.</div>
                <div class="sectionLinks">stuff</div>
            </div>
        </div>
        <div class="section">
            <div class="sectionContent">
                <div class="sectionHead">5.</div>
                <div class="sectionLinks">stuff</div>
            </div>
        </div>
        <div class="section">
            <div class="sectionContent">
                <div class="sectionHead">6.</div>
                <div class="sectionLinks">stuff</div>
            </div>
        </div>
    </div>

    <div class="function">
        <div class="functionHead">Performance Monitoring</div>
        <div class="section">
            <div class="sectionContent">
                <div class="sectionHead">6.</div>
                <div class="sectionLinks">stuff</div>
            </div>
        </div>
        <div class="section twoColumn">
            <div class="sectionContent">
                <div class="sectionHead">7.</div>
                <div class="sectionLinks">stuff</div>
            </div>
        </div>
    </div>

    <div class="stimulant">
        <a href="http://stimulant.com/">
            <img src="stimulant.png" alt="stimulant" />
        </a>
    </div>

</body>

</html>
