<!DOCTYPE html>
<html>
<head>
    <title>ampm</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/libs/lodash.min.js"></script>
    <script src="/static/libs/underscore.string.js"></script>
    <script src="/static/libs/backbone.js"></script>
    <script src="/static/libs/moment.js"></script>
    <script src="/static/libs/moment-duration-format.js"></script>
    <script src="/static/libs/humanize.js"></script>
    <script src="/static/view.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {
        view = new View({el:document.body});
    });

    </script>
    <script type="text/template" id="info-template"> 
        <p>isRunning: <%- isRunning %>
        <br/>isUpdating: <%- isUpdating %>
        <br/>canRollBack: <%- canRollBack %>
        <br/>uptime: <%- uptime %>
        <br/>restartCount: <%- restartCount %>
        <br/>fps: <%- fps %>
        <br/>cpu: <%- cpu %>
        <br/>memory: <%- memory %></button>
        <hr/>
        <pre><%- logList %></pre>
        <hr/>
        <pre><%- eventList %></pre>
    </script>
</head>
<body style="display:none">

    <div id="buttons-app">
        <button id="shutdown-app">Shut Down App</button>
        <button id="start">Start App</button>
        <button id="restart-app">Restart App</button>
        <button id="update">Update Content and App</button>
        <button id="rollBack">Roll Back Content and App</button>
    </div>

    <div id="buttons-pc">
        <button id="shutdown-pc">Shut Down Computer</button>
        <button id="restart-pc">Restart Computer</button>
    </div>

    <div id="info"></div>

</body>
</html>
